<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lego.perception.file.mapper.DataFileMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lego.framework.system.model.entity.DataFile" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="fileType" column="file_type"/>
        <result property="projectId" column="project_id"/>
        <result property="fileUrl" column="file_url"/>
        <result property="previewUrl" column="preview_url"/>
        <result property="templateId" column="template_id"/>
        <result property="checkFlag" column="check_flag"/>
        <result property="checkDate" column="check_date"/>
        <result property="checkBy" column="check_by"/>
        <result property="publishFlag" column="publish_flag"/>
        <result property="publishDate" column="publish_date"/>
        <result property="publishBy" column="publish_by"/>
        <result property="dataType" column="data_type"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="remark" column="remark"/>
        <result property="tags" column="tags"/>
        <result property="batchNum" column="batch_num"/>
        <result property="createdBy" column="created_by"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdatedBy" column="last_updated_by"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>


    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        id ,
        name ,
        file_type ,
        project_id ,
        file_url ,
        preview_url ,
        template_id ,
        check_flag ,
        check_date ,
        check_by ,
        publish_flag ,
        publish_date ,
        publish_by ,
        data_type ,
        delete_flag ,
        remark ,
        tags ,
        batch_num ,
        created_by ,
        creation_date ,
        last_updated_by ,
        last_update_date 
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
         <if test="dataFile.id != null">
            and id = #{dataFile.id,jdbcType=BIGINT}
         </if>
         <if test="dataFile.name != null">
            and name = #{dataFile.name,jdbcType=VARCHAR}
         </if>
         <if test="dataFile.fileType != null">
            and file_type = #{dataFile.fileType,jdbcType=VARCHAR}
         </if>
         <if test="dataFile.projectId != null">
            and project_id = #{dataFile.projectId,jdbcType=BIGINT}
         </if>
         <if test="dataFile.fileUrl != null">
            and file_url = #{dataFile.fileUrl,jdbcType=VARCHAR}
         </if>
         <if test="dataFile.previewUrl != null">
            and preview_url = #{dataFile.previewUrl,jdbcType=VARCHAR}
         </if>
         <if test="dataFile.templateId != null">
            and template_id = #{dataFile.templateId,jdbcType=BIGINT}
         </if>
         <if test="dataFile.checkFlag != null">
            and check_flag = #{dataFile.checkFlag,jdbcType=INTEGER}
         </if>
         <if test="dataFile.checkDate != null">
            and check_date = #{dataFile.checkDate,jdbcType=TIMESTAMP}
         </if>
         <if test="dataFile.checkBy != null">
            and check_by = #{dataFile.checkBy,jdbcType=BIGINT}
         </if>
         <if test="dataFile.publishFlag != null">
            and publish_flag = #{dataFile.publishFlag,jdbcType=INTEGER}
         </if>
         <if test="dataFile.publishDate != null">
            and publish_date = #{dataFile.publishDate,jdbcType=TIMESTAMP}
         </if>
         <if test="dataFile.publishBy != null">
            and publish_by = #{dataFile.publishBy,jdbcType=BIGINT}
         </if>
         <if test="dataFile.dataType != null">
            and data_type = #{dataFile.dataType,jdbcType=INTEGER}
         </if>
         <if test="dataFile.deleteFlag != null">
            and delete_flag = #{dataFile.deleteFlag,jdbcType=INTEGER}
         </if>
         <if test="dataFile.remark != null">
            and remark = #{dataFile.remark,jdbcType=VARCHAR}
         </if>
         <if test="dataFile.tags != null">
            and tags = #{dataFile.tags,jdbcType=VARCHAR}
         </if>
         <if test="dataFile.batchNum != null">
            and batch_num = #{dataFile.batchNum,jdbcType=VARCHAR}
         </if>
         <if test="dataFile.createdBy != null">
            and created_by = #{dataFile.createdBy,jdbcType=BIGINT}
         </if>
         <if test="dataFile.creationDate != null">
            and creation_date = #{dataFile.creationDate,jdbcType=TIMESTAMP}
         </if>
         <if test="dataFile.lastUpdatedBy != null">
            and last_updated_by = #{dataFile.lastUpdatedBy,jdbcType=BIGINT}
         </if>
         <if test="dataFile.lastUpdateDate != null">
            and last_update_date = #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP}
         </if>
    </sql>




    <!--基本更新字段-->
    <sql id="Base_Update_Column">
        <set>
          <if test="dataFile.id != null">
             id = #{dataFile.id,jdbcType=BIGINT},
          </if>
          <if test="dataFile.name != null">
             name = #{dataFile.name,jdbcType=VARCHAR},
          </if>
          <if test="dataFile.fileType != null">
             file_type = #{dataFile.fileType,jdbcType=VARCHAR},
          </if>
          <if test="dataFile.projectId != null">
             project_id = #{dataFile.projectId,jdbcType=BIGINT},
          </if>
          <if test="dataFile.fileUrl != null">
             file_url = #{dataFile.fileUrl,jdbcType=VARCHAR},
          </if>
          <if test="dataFile.previewUrl != null">
             preview_url = #{dataFile.previewUrl,jdbcType=VARCHAR},
          </if>
          <if test="dataFile.templateId != null">
             template_id = #{dataFile.templateId,jdbcType=BIGINT},
          </if>
          <if test="dataFile.checkFlag != null">
             check_flag = #{dataFile.checkFlag,jdbcType=INTEGER},
          </if>
          <if test="dataFile.checkDate != null">
             check_date = #{dataFile.checkDate,jdbcType=TIMESTAMP},
          </if>
          <if test="dataFile.checkBy != null">
             check_by = #{dataFile.checkBy,jdbcType=BIGINT},
          </if>
          <if test="dataFile.publishFlag != null">
             publish_flag = #{dataFile.publishFlag,jdbcType=INTEGER},
          </if>
          <if test="dataFile.publishDate != null">
             publish_date = #{dataFile.publishDate,jdbcType=TIMESTAMP},
          </if>
          <if test="dataFile.publishBy != null">
             publish_by = #{dataFile.publishBy,jdbcType=BIGINT},
          </if>
          <if test="dataFile.dataType != null">
             data_type = #{dataFile.dataType,jdbcType=INTEGER},
          </if>
          <if test="dataFile.deleteFlag != null">
             delete_flag = #{dataFile.deleteFlag,jdbcType=INTEGER},
          </if>
          <if test="dataFile.remark != null">
             remark = #{dataFile.remark,jdbcType=VARCHAR},
          </if>
          <if test="dataFile.tags != null">
             tags = #{dataFile.tags,jdbcType=VARCHAR},
          </if>
          <if test="dataFile.batchNum != null">
             batch_num = #{dataFile.batchNum,jdbcType=VARCHAR},
          </if>
          <if test="dataFile.createdBy != null">
             created_by = #{dataFile.createdBy,jdbcType=BIGINT},
          </if>
          <if test="dataFile.creationDate != null">
             creation_date = #{dataFile.creationDate,jdbcType=TIMESTAMP},
          </if>
          <if test="dataFile.lastUpdatedBy != null">
             last_updated_by = #{dataFile.lastUpdatedBy,jdbcType=BIGINT},
          </if>
          <if test="dataFile.lastUpdateDate != null">
             last_update_date = #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP}
          </if>
        </set>
    </sql>


    <sql id="Base_Insert_Selective">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataFile.id != null">
               id,
            </if>
            <if test="dataFile.name != null">
               name,
            </if>
            <if test="dataFile.fileType != null">
               file_type,
            </if>
            <if test="dataFile.projectId != null">
               project_id,
            </if>
            <if test="dataFile.fileUrl != null">
               file_url,
            </if>
            <if test="dataFile.previewUrl != null">
               preview_url,
            </if>
            <if test="dataFile.templateId != null">
               template_id,
            </if>
            <if test="dataFile.checkFlag != null">
               check_flag,
            </if>
            <if test="dataFile.checkDate != null">
               check_date,
            </if>
            <if test="dataFile.checkBy != null">
               check_by,
            </if>
            <if test="dataFile.publishFlag != null">
               publish_flag,
            </if>
            <if test="dataFile.publishDate != null">
               publish_date,
            </if>
            <if test="dataFile.publishBy != null">
               publish_by,
            </if>
            <if test="dataFile.dataType != null">
               data_type,
            </if>
            <if test="dataFile.deleteFlag != null">
               delete_flag,
            </if>
            <if test="dataFile.remark != null">
               remark,
            </if>
            <if test="dataFile.tags != null">
               tags,
            </if>
            <if test="dataFile.batchNum != null">
               batch_num,
            </if>
            <if test="dataFile.createdBy != null">
               created_by,
            </if>
            <if test="dataFile.creationDate != null">
               creation_date,
            </if>
            <if test="dataFile.lastUpdatedBy != null">
               last_updated_by,
            </if>
            <if test="dataFile.lastUpdateDate != null">
               last_update_date
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="dataFile.id != null">
             #{dataFile.id,jdbcType=BIGINT},
             </if>
             <if test="dataFile.name != null">
             #{dataFile.name,jdbcType=VARCHAR},
             </if>
             <if test="dataFile.fileType != null">
             #{dataFile.fileType,jdbcType=VARCHAR},
             </if>
             <if test="dataFile.projectId != null">
             #{dataFile.projectId,jdbcType=BIGINT},
             </if>
             <if test="dataFile.fileUrl != null">
             #{dataFile.fileUrl,jdbcType=VARCHAR},
             </if>
             <if test="dataFile.previewUrl != null">
             #{dataFile.previewUrl,jdbcType=VARCHAR},
             </if>
             <if test="dataFile.templateId != null">
             #{dataFile.templateId,jdbcType=BIGINT},
             </if>
             <if test="dataFile.checkFlag != null">
             #{dataFile.checkFlag,jdbcType=INTEGER},
             </if>
             <if test="dataFile.checkDate != null">
             #{dataFile.checkDate,jdbcType=TIMESTAMP},
             </if>
             <if test="dataFile.checkBy != null">
             #{dataFile.checkBy,jdbcType=BIGINT},
             </if>
             <if test="dataFile.publishFlag != null">
             #{dataFile.publishFlag,jdbcType=INTEGER},
             </if>
             <if test="dataFile.publishDate != null">
             #{dataFile.publishDate,jdbcType=TIMESTAMP},
             </if>
             <if test="dataFile.publishBy != null">
             #{dataFile.publishBy,jdbcType=BIGINT},
             </if>
             <if test="dataFile.dataType != null">
             #{dataFile.dataType,jdbcType=BIGINT},
             </if>
             <if test="dataFile.deleteFlag != null">
             #{dataFile.deleteFlag,jdbcType=INTEGER},
             </if>
             <if test="dataFile.remark != null">
             #{dataFile.remark,jdbcType=VARCHAR},
             </if>
             <if test="dataFile.tags != null">
             #{dataFile.tags,jdbcType=VARCHAR},
             </if>
             <if test="dataFile.batchNum != null">
             #{dataFile.batchNum,jdbcType=VARCHAR},
             </if>
             <if test="dataFile.createdBy != null">
             #{dataFile.createdBy,jdbcType=BIGINT},
             </if>
             <if test="dataFile.creationDate != null">
             #{dataFile.creationDate,jdbcType=TIMESTAMP},
             </if>
             <if test="dataFile.lastUpdatedBy != null">
             #{dataFile.lastUpdatedBy,jdbcType=BIGINT},
             </if>
             <if test="dataFile.lastUpdateDate != null">
             #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP}
             </if>
        </trim>
    </sql>



    <!--批量添加记录到数据库表中-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into tpl_data_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
             id,
             name,
             file_type,
             project_id,
             file_url,
             preview_url,
             template_id,
             check_flag,
             check_date,
             check_by,
             publish_flag,
             publish_date,
             publish_by,
             data_type,
             delete_flag,
             remark,
             tags,
             batch_num,
             created_by,
             creation_date,
             last_updated_by,
             last_update_date
        </trim>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id,jdbcType=BIGINT},
                #{item.name,jdbcType=VARCHAR},
                #{item.fileType,jdbcType=VARCHAR},
                #{item.projectId,jdbcType=BIGINT},
                #{item.fileUrl,jdbcType=VARCHAR},
                #{item.previewUrl,jdbcType=VARCHAR},
                #{item.templateId,jdbcType=BIGINT},
                #{item.checkFlag,jdbcType=INTEGER},
                #{item.checkDate,jdbcType=TIMESTAMP},
                #{item.checkBy,jdbcType=BIGINT},
                #{item.publishFlag,jdbcType=INTEGER},
                #{item.publishDate,jdbcType=TIMESTAMP},
                #{item.publishBy,jdbcType=BIGINT},
                #{item.dataType,jdbcType=BIGINT},
                #{item.deleteFlag,jdbcType=INTEGER},
                #{item.remark,jdbcType=VARCHAR},
                #{item.tags,jdbcType=VARCHAR},
                #{item.batchNum,jdbcType=VARCHAR},
                #{item.createdBy,jdbcType=BIGINT},
                #{item.creationDate,jdbcType=TIMESTAMP},
                #{item.lastUpdatedBy,jdbcType=BIGINT},
                #{item.lastUpdateDate,jdbcType=TIMESTAMP}
            </trim>
        </foreach>
    </insert>



    <!-- 根据主键批量更新数据库表中的记录-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update tpl_data_file
            <set>
                <trim suffixOverrides=",">
                    id = #{item.id,jdbcType=BIGINT},
                    name = #{item.name,jdbcType=VARCHAR},
                    file_type = #{item.fileType,jdbcType=VARCHAR},
                    project_id = #{item.projectId,jdbcType=BIGINT},
                    file_url = #{item.fileUrl,jdbcType=VARCHAR},
                    preview_url = #{item.previewUrl,jdbcType=VARCHAR},
                    template_id = #{item.templateId,jdbcType=BIGINT},
                    check_flag = #{item.checkFlag,jdbcType=INTEGER},
                    check_date = #{item.checkDate,jdbcType=TIMESTAMP},
                    check_by = #{item.checkBy,jdbcType=BIGINT},
                    publish_flag = #{item.publishFlag,jdbcType=INTEGER},
                    publish_date = #{item.publishDate,jdbcType=TIMESTAMP},
                    publish_by = #{item.publishBy,jdbcType=BIGINT},
                    data_type = #{item.dataType,jdbcType=BIGINT},
                    delete_flag = #{item.deleteFlag,jdbcType=INTEGER},
                    remark = #{item.remark,jdbcType=VARCHAR},
                    tags = #{item.tags,jdbcType=VARCHAR},
                    batch_num = #{item.batchNum,jdbcType=VARCHAR},
                    created_by = #{item.createdBy,jdbcType=BIGINT},
                    creation_date = #{item.creationDate,jdbcType=TIMESTAMP},
                    last_updated_by = #{item.lastUpdatedBy,jdbcType=BIGINT},
                    last_update_date = #{item.lastUpdateDate,jdbcType=TIMESTAMP}
                </trim>
            </set>
            <where>
                <trim suffixOverrides=",">
                    where id = #{item.id,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!--存在即更新否则插入-->
    <update id="upsert" parameterType="com.lego.framework.system.model.entity.DataFile">
        insert into tpl_data_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
             id ,
             name ,
             file_type ,
             project_id ,
             file_url ,
             preview_url ,
             template_id ,
             check_flag ,
             check_date ,
             check_by ,
             publish_flag ,
             publish_date ,
             publish_by ,
             data_type ,
             delete_flag ,
             remark ,
             tags ,
             batch_num ,
             created_by ,
             creation_date ,
             last_updated_by ,
             last_update_date 
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
             #{dataFile.id,jdbcType=BIGINT},
             #{dataFile.name,jdbcType=VARCHAR},
             #{dataFile.fileType,jdbcType=VARCHAR},
             #{dataFile.projectId,jdbcType=BIGINT},
             #{dataFile.fileUrl,jdbcType=VARCHAR},
             #{dataFile.previewUrl,jdbcType=VARCHAR},
             #{dataFile.templateId,jdbcType=BIGINT},
             #{dataFile.checkFlag,jdbcType=INTEGER},
             #{dataFile.checkDate,jdbcType=TIMESTAMP},
             #{dataFile.checkBy,jdbcType=BIGINT},
             #{dataFile.publishFlag,jdbcType=INTEGER},
             #{dataFile.publishDate,jdbcType=TIMESTAMP},
             #{dataFile.publishBy,jdbcType=BIGINT},
             #{dataFile.dataType,jdbcType=BIGINT},
             #{dataFile.deleteFlag,jdbcType=INTEGER},
             #{dataFile.remark,jdbcType=VARCHAR},
             #{dataFile.tags,jdbcType=VARCHAR},
             #{dataFile.batchNum,jdbcType=VARCHAR},
             #{dataFile.createdBy,jdbcType=BIGINT},
             #{dataFile.creationDate,jdbcType=TIMESTAMP},
             #{dataFile.lastUpdatedBy,jdbcType=BIGINT},
             #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP}
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
          #{dataFile.id,jdbcType=BIGINT},
          #{dataFile.name,jdbcType=VARCHAR},
          #{dataFile.fileType,jdbcType=VARCHAR},
          #{dataFile.projectId,jdbcType=BIGINT},
          #{dataFile.fileUrl,jdbcType=VARCHAR},
          #{dataFile.previewUrl,jdbcType=VARCHAR},
          #{dataFile.templateId,jdbcType=BIGINT},
          #{dataFile.checkFlag,jdbcType=INTEGER},
          #{dataFile.checkDate,jdbcType=TIMESTAMP},
          #{dataFile.checkBy,jdbcType=BIGINT},
          #{dataFile.publishFlag,jdbcType=INTEGER},
          #{dataFile.publishDate,jdbcType=TIMESTAMP},
          #{dataFile.publishBy,jdbcType=BIGINT},
          #{dataFile.dataType,jdbcType=BIGINT},
          #{dataFile.deleteFlag,jdbcType=INTEGER},
          #{dataFile.remark,jdbcType=VARCHAR},
          #{dataFile.tags,jdbcType=VARCHAR},
          #{dataFile.batchNum,jdbcType=VARCHAR},
          #{dataFile.createdBy,jdbcType=BIGINT},
          #{dataFile.creationDate,jdbcType=TIMESTAMP},
          #{dataFile.lastUpdatedBy,jdbcType=BIGINT},
          #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP}
        </trim>
    </update>


    <!--带有空值检查的存在即更新否则插入-->
    <update id="upsertSelective" parameterType="com.lego.framework.system.model.entity.DataFile">
        insert into tpl_data_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataFile.id != null">
                id,
            </if>
            <if test="dataFile.name != null">
                name,
            </if>
            <if test="dataFile.fileType != null">
                file_type,
            </if>
            <if test="dataFile.projectId != null">
                project_id,
            </if>
            <if test="dataFile.fileUrl != null">
                file_url,
            </if>
            <if test="dataFile.previewUrl != null">
                preview_url,
            </if>
            <if test="dataFile.templateId != null">
                template_id,
            </if>
            <if test="dataFile.checkFlag != null">
                check_flag,
            </if>
            <if test="dataFile.checkDate != null">
                check_date,
            </if>
            <if test="dataFile.checkBy != null">
                check_by,
            </if>
            <if test="dataFile.publishFlag != null">
                publish_flag,
            </if>
            <if test="dataFile.publishDate != null">
                publish_date,
            </if>
            <if test="dataFile.publishBy != null">
                publish_by,
            </if>
            <if test="dataFile.dataType != null">
                data_type,
            </if>
            <if test="dataFile.deleteFlag != null">
                delete_flag,
            </if>
            <if test="dataFile.remark != null">
                remark,
            </if>
            <if test="dataFile.tags != null">
                tags,
            </if>
            <if test="dataFile.batchNum != null">
                batch_num,
            </if>
            <if test="dataFile.createdBy != null">
                created_by,
            </if>
            <if test="dataFile.creationDate != null">
                creation_date,
            </if>
            <if test="dataFile.lastUpdatedBy != null">
                last_updated_by,
            </if>
            <if test="dataFile.lastUpdateDate != null">
                last_update_date
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataFile.id !=null ">
                #{dataFile.id,jdbcType=BIGINT},
            </if>
            <if test="dataFile.name !=null ">
                #{dataFile.name,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.fileType !=null ">
                #{dataFile.fileType,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.projectId !=null ">
                #{dataFile.projectId,jdbcType=BIGINT},
            </if>
            <if test="dataFile.fileUrl !=null ">
                #{dataFile.fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.previewUrl !=null ">
                #{dataFile.previewUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.templateId !=null ">
                #{dataFile.templateId,jdbcType=BIGINT},
            </if>
            <if test="dataFile.checkFlag !=null ">
                #{dataFile.checkFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.checkDate !=null ">
                #{dataFile.checkDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.checkBy !=null ">
                #{dataFile.checkBy,jdbcType=BIGINT},
            </if>
            <if test="dataFile.publishFlag !=null ">
                #{dataFile.publishFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.publishDate !=null ">
                #{dataFile.publishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.publishBy !=null ">
                #{dataFile.publishBy,jdbcType=BIGINT},
            </if>
            <if test="dataFile.dataType !=null ">
                #{dataFile.dataType,jdbcType=BIGINT},
            </if>
            <if test="dataFile.deleteFlag !=null ">
                #{dataFile.deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.remark !=null ">
                #{dataFile.remark,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.tags !=null ">
                #{dataFile.tags,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.batchNum !=null ">
                #{dataFile.batchNum,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.createdBy !=null ">
                #{dataFile.createdBy,jdbcType=BIGINT},
            </if>
            <if test="dataFile.creationDate !=null ">
                #{dataFile.creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.lastUpdatedBy !=null ">
                #{dataFile.lastUpdatedBy,jdbcType=BIGINT},
            </if>
            <if test="dataFile.lastUpdateDate !=null ">
                #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="dataFile.id !=null ">
             #{id,jdbcType=BIGINT},
            </if>
            <if test="dataFile.name !=null ">
             #{name,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.fileType !=null ">
             #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.projectId !=null ">
             #{projectId,jdbcType=BIGINT},
            </if>
            <if test="dataFile.fileUrl !=null ">
             #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.previewUrl !=null ">
             #{previewUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.templateId !=null ">
             #{templateId,jdbcType=BIGINT},
            </if>
            <if test="dataFile.checkFlag !=null ">
             #{checkFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.checkDate !=null ">
             #{checkDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.checkBy !=null ">
             #{checkBy,jdbcType=BIGINT},
            </if>
            <if test="dataFile.publishFlag !=null ">
             #{publishFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.publishDate !=null ">
             #{publishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.publishBy !=null ">
             #{publishBy,jdbcType=BIGINT},
            </if>
            <if test="dataFile.dataType !=null ">
             #{dataType,jdbcType=BIGINT},
            </if>
            <if test="dataFile.deleteFlag !=null ">
             #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.remark !=null ">
             #{remark,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.tags !=null ">
             #{tags,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.batchNum !=null ">
             #{batchNum,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.createdBy !=null ">
             #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="dataFile.creationDate !=null ">
             #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.lastUpdatedBy !=null ">
             #{lastUpdatedBy,jdbcType=BIGINT},
            </if>
            <if test="dataFile.lastUpdateDate !=null ">
             #{lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </update>

    <select id="query" resultMap="BaseResultMap" parameterType="com.lego.framework.system.model.entity.DataFile">
        select
        <include refid="Base_Column_List"/>
        from tpl_data_file
        <where>
            <include refid="Base_Query_Where"></include>
        </where>
    </select>

    <select id="queryTotalCount" resultType="long">
        select count(*) from tpl_data_file
    </select>




</mapper>